.thomasOuterColor { background-color:  #ccccff; }

body { font-family: Arial; }

body.e34 { width: 90vw; height: 90vh; }


.e34p10 {
	text-align: center; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Helvetica ;

}

.e34p20 {
		/* top right bottom left */

	display: inline-block; 

	margin: auto 0.3em auto 0.3em;
	background-color:   #3366ff;
	color: white;
	font-weight: bold;

	vertical-align: middle; 
	position: relative;


}

	
.e34p30 {
	display: inline-block;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	position: absolute;

}