<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kwynn.battery">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="Charge Reporter"
        >

        <!-- Boot Receiver -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Foreground Service -->
        <service
            android:name=".ChargeService"
            android:enabled="true"
            android:exported="false" />

    </application>
</manifest>